.attribution {
	font-size: 11px;
	text-align: center;
	font-family: "Montserrat";
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.cont {
	position: fixed;
	width: 50%;
	margin-left: -25%;
	bottom: 0px;
	left: 50%;
}

body {
	background-color: hsl(30, 38%, 92%);
}

#container {
	border-radius: 5%;
	margin: auto;
	margin-top: 20vh;
	width: 48vw;
	height: 55vh;
	text-align: center;
	display: flex;
	flex-direction: row;
}

.desc {
	font-size: 1vw;
	line-height: 1.5;
	width: 80%;
	font-family: 'Montserrat', sans-serif;
	color: hsl(228, 12%, 48%);
}

.type {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500, 700;
	font-size: 1vw;
	width: fit-content;
	color: hsl(228, 12%, 48%);
	/* padding-top: 3%; */
	margin-top: 10%;
}

.product-name {
	margin-top: 6%;
	margin-bottom: 10%;
	padding-right: 5%;
	font-family: 'Fraunces', serif;
	width: fit-content;
	color: hsl(212, 21%, 14%);
	font-weight: 700;
	font-size: 2.6vw;
	line-height: 1;
}

.prices {
	margin-top: 8%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.discount-price {

	font-family: 'Fraunces', serif;
	color: #3d8168;
	font-weight: 700;
	font-size: 2.5vw;
	width: fit-content;
	padding-right: 6%;
}

.original-price {
	text-align: center;
	width: 5vw;
	font-family: 'Montserrat', sans-serif;
	color: hsl(228, 12%, 48%);
	text-decoration: line-through;
	font-size: 1vw;

}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.img-container {
	width: 50%;
	overflow: hidden;
	border-bottom-left-radius: 3%;
	border-top-left-radius: 3%;
}

.img-desktop {
	width: 100%;
	height: 100%;
}

.img-mobile {
	display: none;
}

.text-container {
	display: inline-block;
	padding-right: 0%;
	width: 50%;
	height: 100%;
	background-color: white;
	text-align: left;
	padding-left: 5%;
	border-bottom-right-radius: 3%;
	border-top-right-radius: 3%;
}

.cart-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3d8168;
	border-radius: 8px;
	margin-top: 7%;
	/* margin-right: 2vw; */
	width: 89%;
	height: 11%;
}

.cart-img {
	height: 2vh;
	padding-right: 4%;
}

.add-to-cart {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1vw;
	text-align: center;
	color: white;

}

@media all and (max-width: 912px) {

	body {
		display: flex;
		justify-content: center;
	}

	#container {
		margin-top: 20px;
		margin-left: auto;
		width: 90vw;
		height: 97vh;
		display: flex;
		flex-direction: column;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.img-container {
		width: 100%;
		border-top-right-radius: 3%;
		border-top-left-radius: 3%;
		border-bottom-left-radius: 0px;
	}

	.img-desktop {
		display: none;
	}

	.img-mobile {

		display: block;
		font-size: 0;
	}

	.text-container {
		padding-left: 6vw;
		width: auto;
		height: fit-content;
		padding-bottom: 3%;
		border-top-right-radius: 0%;
		border-bottom-right-radius: 3%;
		border-bottom-left-radius: 3%;
	}

	.product-name {
		margin-top: 2vh;
		margin-bottom: 2vh;
		font-size: 8vw;
	}

	.type {
		margin-top: 7%;
		font-size: 1.8vh;
	}

	.desc {
		width: 86%;
		font-size: 1.8vh;
		line-height: 3vh;
	}

	.original-price {
		width: fit-content;
		font-size: 3.5vw;
	}

	.discount-price {
		font-size: 8vw;
	}

	.cart-container {
		width: 77vw;
		height: 12%;
		margin-bottom: 6.5vh;
		margin-top: 3vh;
	}

	.add-to-cart {
		font-size: 3vw;
	}

	.attribution {
		margin-left: 1vw;
	}
}
